!!!
%html
  %head
    %title Vito's Site
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .logo
      Vito's Site
    .nav
      %li
        Home
      %li
        Projects
      %li
        About
    = yield